In [97]:
import pandas as pd 
import re
df = pd.read_csv('movies.csv')
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

<h1> DATA CLEANING

In [98]:
# viewing first 5 rows
df.head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [99]:
# viewing last 5 rows
df.tail(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [100]:
# checking data types
df.dtypes

MOVIES       object
YEAR         object
GENRE        object
RATING      float64
ONE-LINE     object
STARS        object
VOTES        object
RunTime     float64
Gross        object
dtype: object

In [101]:
# checking null values
df.isna().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [102]:
# dropping rows with null values
# all Series Shows have null values
# can drop nulls to extract only movie related data
df = df.dropna()
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
77,The Hitman's Bodyguard,(2017),"\nAction, Comedy, Crime",6.9,"\nThe world's top bodyguard gets a new client,...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
85,Jurassic Park,(1993),"\nAction, Adventure, Sci-Fi",8.1,\nA pragmatic paleontologist visiting an almos...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
95,Don't Breathe,(2016),"\nCrime, Horror, Thriller",7.1,"\nHoping to walk away with a massive fortune, ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
111,The Lord of the Rings: The Fellowship of the Ring,(2001),"\nAction, Adventure, Drama",8.8,\nA meek Hobbit from the Shire and eight compa...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
125,Escape Room,(I) (2019),"\nAction, Adventure, Horror",6.4,\nSix strangers find themselves in a maze of d...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,(2010),\nDocumentary,6.5,\nVidal Sassoon is more than just a hairdresse...,\n Director:\nCraig Teper\n| \n Stars:\n...,245,90.0,$0.09M
5770,Men at Lunch,(2012),"\nDocumentary, Mystery",6.3,"\nThe story of ""Lunch atop a Skyscraper,"" the ...",\n Director:\nSeán Ó Cualáin\n| \n Stars...,331,75.0,$0.00M
5835,Decoding Deepak,(2012),\nDocumentary,5.5,"\nDeepak Chopra's son, Gotham, spends a year t...",\n Director:\nGotham Chopra\n| \n Stars:...,124,83.0,$0.01M
6056,Theo Who Lived,(2016),\nDocumentary,6.8,\nA documentary on American journalist Theo Pa...,\n Director:\nDavid Schisgall\n| \n Star...,111,86.0,$0.01M
6292,Southern Justice,(2006),"\nAction, Adventure, Thriller",3.1,"\nM.D. Selig's feature thriller, SOUTHERN JUST...",\n Director:\nM.D. Selig\n| \n Stars:\nM...,126,96.0,$0.14M

In [103]:
# resetting index
df = df.reset_index(drop=True)
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,The Hitman's Bodyguard,(2017),"\nAction, Comedy, Crime",6.9,"\nThe world's top bodyguard gets a new client,...",\n Director:\nPatrick Hughes\n| \n Stars...,"205,979",118.0,$75.47M
1,Jurassic Park,(1993),"\nAction, Adventure, Sci-Fi",8.1,\nA pragmatic paleontologist visiting an almos...,\n Director:\nSteven Spielberg\n| \n Sta...,"897,444",127.0,$402.45M
2,Don't Breathe,(2016),"\nCrime, Horror, Thriller",7.1,"\nHoping to walk away with a massive fortune, ...",\n Director:\nFede Alvarez\n| \n Stars:\...,"237,601",88.0,$89.22M
3,The Lord of the Rings: The Fellowship of the Ring,(2001),"\nAction, Adventure, Drama",8.8,\nA meek Hobbit from the Shire and eight compa...,\n Director:\nPeter Jackson\n| \n Stars:...,"1,713,028",178.0,$315.54M
4,Escape Room,(I) (2019),"\nAction, Adventure, Horror",6.4,\nSix strangers find themselves in a maze of d...,\n Director:\nAdam Robitel\n| \n Stars:\...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
455,Vidal Sassoon: The Movie,(2010),\nDocumentary,6.5,\nVidal Sassoon is more than just a hairdresse...,\n Director:\nCraig Teper\n| \n Stars:\n...,245,90.0,$0.09M
456,Men at Lunch,(2012),"\nDocumentary, Mystery",6.3,"\nThe story of ""Lunch atop a Skyscraper,"" the ...",\n Director:\nSeán Ó Cualáin\n| \n Stars...,331,75.0,$0.00M
457,Decoding Deepak,(2012),\nDocumentary,5.5,"\nDeepak Chopra's son, Gotham, spends a year t...",\n Director:\nGotham Chopra\n| \n Stars:...,124,83.0,$0.01M
458,Theo Who Lived,(2016),\nDocumentary,6.8,\nA documentary on American journalist Theo Pa...,\n Director:\nDavid Schisgall\n| \n Star...,111,86.0,$0.01M
459,Southern Justice,(2006),"\nAction, Adventure, Thriller",3.1,"\nM.D. Selig's feature thriller, SOUTHERN JUST...",\n Director:\nM.D. Selig\n| \n Stars:\nM...,126,96.0,$0.14M

In [104]:
# removing /n from columns
df['GENRE'] = df['GENRE'].str.replace('\n','')
df['STARS'] = df['STARS'].str.replace('\n','')
df['ONE-LINE'] = df['ONE-LINE'].str.replace('\n','')
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...",Director:Patrick Hughes| Stars:Ryan Re...,"205,979",118.0,$75.47M
1,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,Director:Steven Spielberg| Stars:Sam N...,"897,444",127.0,$402.45M
2,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...",Director:Fede Alvarez| Stars:Stephen L...,"237,601",88.0,$89.22M
3,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Director:Peter Jackson| Stars:Elijah W...,"1,713,028",178.0,$315.54M
4,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,Director:Adam Robitel| Stars:Taylor Ru...,"99,351",99.0,$57.01M
...,...,...,...,...,...,...,...,...,...
455,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,Director:Craig Teper| Stars:Beverly Ad...,245,90.0,$0.09M
456,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...",Director:Seán Ó Cualáin| Stars:Fionnul...,331,75.0,$0.00M
457,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...",Director:Gotham Chopra| Stars:Deepak C...,124,83.0,$0.01M
458,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Director:David Schisgall| Star:Theo Pa...,111,86.0,$0.01M
459,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Director:M.D. Selig| Stars:M.D. Selig,...",126,96.0,$0.14M

In [105]:
# splitting Stars column into Director & Stars column
df[['DIRECTOR', 'STARS']] = df['STARS'].str.split('|', n=1, expand=True)
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,DIRECTOR
0,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...","Stars:Ryan Reynolds, Samuel L. Jackson, G...","205,979",118.0,$75.47M,Director:Patrick Hughes
1,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,"Stars:Sam Neill, Laura Dern, Jeff Goldblu...","897,444",127.0,$402.45M,Director:Steven Spielberg
2,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...","Stars:Stephen Lang, Jane Levy, Dylan Minn...","237,601",88.0,$89.22M,Director:Fede Alvarez
3,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,"Stars:Elijah Wood, Ian McKellen, Orlando ...","1,713,028",178.0,$315.54M,Director:Peter Jackson
4,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,"Stars:Taylor Russell, Logan Miller, Jay E...","99,351",99.0,$57.01M,Director:Adam Robitel
...,...,...,...,...,...,...,...,...,...,...
455,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,"Stars:Beverly Adams, Elgin Charles, Grace...",245,90.0,$0.09M,Director:Craig Teper
456,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...","Stars:Fionnula Flanagan, Peter Quinn, Ric...",331,75.0,$0.00M,Director:Seán Ó Cualáin
457,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...","Stars:Deepak Chopra, Gotham Chopra",124,83.0,$0.01M,Director:Gotham Chopra
458,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Star:Theo Padnos,111,86.0,$0.01M,Director:David Schisgall
459,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","Stars:M.D. Selig, Michael Childers, Lisa ...",126,96.0,$0.14M,Director:M.D. Selig

In [106]:
# Remove prefixes from columns
df['DIRECTOR'] = df['DIRECTOR'].str.replace(r'Director:', '').str.strip()
df['DIRECTOR'] = df['DIRECTOR'].str.replace(r'Directors:', '').str.strip() # r is regular expression for raw string
df['STARS'] = df['STARS'].str.replace(r'Stars:', '').str.strip() # str.strip just removes blanks spaces
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,DIRECTOR
0,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...","Ryan Reynolds, Samuel L. Jackson, Gary Oldman,...","205,979",118.0,$75.47M,Patrick Hughes
1,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ...","897,444",127.0,$402.45M,Steven Spielberg
2,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...","Stephen Lang, Jane Levy, Dylan Minnette, Danie...","237,601",88.0,$89.22M,Fede Alvarez
3,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...","1,713,028",178.0,$315.54M,Peter Jackson
4,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,"Taylor Russell, Logan Miller, Jay Ellis, Tyler...","99,351",99.0,$57.01M,Adam Robitel
...,...,...,...,...,...,...,...,...,...,...
455,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,"Beverly Adams, Elgin Charles, Grace Coddington...",245,90.0,$0.09M,Craig Teper
456,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...","Fionnula Flanagan, Peter Quinn, Ric Burns, Chr...",331,75.0,$0.00M,Seán Ó Cualáin
457,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...","Deepak Chopra, Gotham Chopra",124,83.0,$0.01M,Gotham Chopra
458,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Star:Theo Padnos,111,86.0,$0.01M,David Schisgall
459,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","M.D. Selig, Michael Childers, Lisa Robert, Ric...",126,96.0,$0.14M,M.D. Selig

In [107]:
# renaming Run Time column to add units 
df = df.rename(columns={'RunTime':'RUN TIME (Minutes)'})
df = df.rename(columns={'Gross':'GROSS'})
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RUN TIME (Minutes),GROSS,DIRECTOR
0,The Hitman's Bodyguard,(2017),"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...","Ryan Reynolds, Samuel L. Jackson, Gary Oldman,...","205,979",118.0,$75.47M,Patrick Hughes
1,Jurassic Park,(1993),"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ...","897,444",127.0,$402.45M,Steven Spielberg
2,Don't Breathe,(2016),"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...","Stephen Lang, Jane Levy, Dylan Minnette, Danie...","237,601",88.0,$89.22M,Fede Alvarez
3,The Lord of the Rings: The Fellowship of the Ring,(2001),"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...","1,713,028",178.0,$315.54M,Peter Jackson
4,Escape Room,(I) (2019),"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,"Taylor Russell, Logan Miller, Jay Ellis, Tyler...","99,351",99.0,$57.01M,Adam Robitel
...,...,...,...,...,...,...,...,...,...,...
455,Vidal Sassoon: The Movie,(2010),Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,"Beverly Adams, Elgin Charles, Grace Coddington...",245,90.0,$0.09M,Craig Teper
456,Men at Lunch,(2012),"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...","Fionnula Flanagan, Peter Quinn, Ric Burns, Chr...",331,75.0,$0.00M,Seán Ó Cualáin
457,Decoding Deepak,(2012),Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...","Deepak Chopra, Gotham Chopra",124,83.0,$0.01M,Gotham Chopra
458,Theo Who Lived,(2016),Documentary,6.8,A documentary on American journalist Theo Padn...,Star:Theo Padnos,111,86.0,$0.01M,David Schisgall
459,Southern Justice,(2006),"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","M.D. Selig, Michael Childers, Lisa Robert, Ric...",126,96.0,$0.14M,M.D. Selig

In [108]:
# changing RUN TIME column to an int data type
df['RUN TIME (Minutes)'] = df['RUN TIME (Minutes)'].astype('int')
df.dtypes

MOVIES                 object
YEAR                   object
GENRE                  object
RATING                float64
ONE-LINE               object
STARS                  object
VOTES                  object
RUN TIME (Minutes)      int64
GROSS                  object
DIRECTOR               object
dtype: object

In [109]:
# converting GROSS column into float data type
df['GROSS'] = df['GROSS'].str.replace('$','',regex=False)
df['GROSS'] = df['GROSS'].str.replace('M','',regex=False)
df['GROSS'] = df['GROSS'].astype('float')

In [110]:
# converting VOTES column into int data type
df['VOTES'] = df['VOTES'].str.replace(',','',regex=False)
df['VOTES'] = df['VOTES'].astype('int')

In [111]:
# converting YEAR column to int data type
df['YEAR'] = df['YEAR'].str.extract(r'(\d+)').astype('Int64')

In [94]:
df.dtypes

MOVIES                 object
YEAR                    Int64
GENRE                  object
RATING                float64
ONE-LINE               object
STARS                  object
VOTES                   int64
RUN TIME (Minutes)      int64
GROSS                 float64
DIRECTOR               object
dtype: object

In [112]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RUN TIME (Minutes),GROSS,DIRECTOR
0,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,"The world's top bodyguard gets a new client, a...","Ryan Reynolds, Samuel L. Jackson, Gary Oldman,...",205979,118,75.47,Patrick Hughes
1,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost ...,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ...",897444,127,402.45,Steven Spielberg
2,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,"Hoping to walk away with a massive fortune, a ...","Stephen Lang, Jane Levy, Dylan Minnette, Danie...",237601,88,89.22,Fede Alvarez
3,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1713028,178,315.54,Peter Jackson
4,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of dea...,"Taylor Russell, Logan Miller, Jay Ellis, Tyler...",99351,99,57.01,Adam Robitel
...,...,...,...,...,...,...,...,...,...,...
455,Vidal Sassoon: The Movie,2010,Documentary,6.5,Vidal Sassoon is more than just a hairdresser-...,"Beverly Adams, Elgin Charles, Grace Coddington...",245,90,0.09,Craig Teper
456,Men at Lunch,2012,"Documentary, Mystery",6.3,"The story of ""Lunch atop a Skyscraper,"" the ic...","Fionnula Flanagan, Peter Quinn, Ric Burns, Chr...",331,75,0.00,Seán Ó Cualáin
457,Decoding Deepak,2012,Documentary,5.5,"Deepak Chopra's son, Gotham, spends a year tra...","Deepak Chopra, Gotham Chopra",124,83,0.01,Gotham Chopra
458,Theo Who Lived,2016,Documentary,6.8,A documentary on American journalist Theo Padn...,Star:Theo Padnos,111,86,0.01,David Schisgall
459,Southern Justice,2006,"Action, Adventure, Thriller",3.1,"M.D. Selig's feature thriller, SOUTHERN JUSTIC...","M.D. Selig, Michael Childers, Lisa Robert, Ric...",126,96,0.14,M.D. Selig

In [113]:
# converting to csv format
df.to_csv('cleaned_data.csv',index=False)

<H1> END